arquetipo-mulesoft/arquetipo-mulesoft/src/main/mule/partyLifecycleManagement-mainFlow.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">

    <apikit:config name="starwars-config" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" api="api\starwars.raml"/>
    <flow name="starwars-main">
        <http:listener config-ref="starwars-httpListenerConfig" path="${general.path}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
		<flow-ref doc:name="sub-flow-validate-token" doc:id="43fd24c8-f22d-4a8b-ad16-179db988fdff" name="sub-flow-validate-token" />
		<apikit:router config-ref="starwars-config" />
		<error-handler ref="Error_Handlers" />
    </flow>
	<flow name="starwars-console">
        <http:listener config-ref="starwars-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:console config-ref="starwars-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\starwars\characters:starwars-config">
		<flow-ref doc:name="get-sales-partyLifecycleManagement-client-handlerSub_Flow" doc:id="ecf9c15b-9513-47a2-a853-413a4ee4c6ee" name="get-sales-partyLifecycleManagement-client-handlerSub_Flow"/>
		<error-handler ref="Error_Handlers" />
    </flow>
    <flow name="get:\healthcheck:starwars-config">
		<flow-ref doc:name="get-healthcheckSub_Flow" doc:id="f2b386ed-70aa-4175-b94c-10848725434a" name="get-healthcheckSub_Flow"/>
    </flow>
</mule>
